<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Projects</title>

  <!-- Custom fonts for this template -->
  <link href="Projects_files/all.css" rel="stylesheet" type="text/css">
  <link href="Projects_files/css.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="Projects_files/sb-admin-2.css" rel="stylesheet">

  <!-- Custom styles for this page -->
  <link href="Projects_files/dataTables.css" rel="stylesheet">

<style type="text/css">/* Chart.js */
@keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}</style></head>

<body id="page-top" data-gr-c-s-loaded="true">
 <!-- Summary-->
  <div id="wrapper1">
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-dark">Project Name - Report</h6>
            </div>
            <div class="card-body">
                <!-- Small items -->
                <!-- Basic Card Example -->
                <div class="row">
                    <div class="col-xl-7 col-md-6 mb-2">
                      <div class="card">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-dark">Client</h6>
                        </div>
                        <div class="table-responsive">
                            <div class="text-center my-auto" style="padding:100px"> <img src="Projects_files/qr.png" width="400px"></div>
                        <table class="table table-bordered" id="client" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                              <th>Name</th>
                              <th>Contact</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Qatar Airways</td>
                                <td>+974-99880011</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-7 col-md-6 mb-2">
                      <div class="card">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-dark">Document Control</h6>
                        </div>
                        <div class="table-responsive">
                        <table class="table table-bordered" id="author" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                              <th>Author</th>
                              <th>Testers</th>
                              <th>Reviewers</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td>Jason Juston</td><!--author-->
                                <td>Ireck Martin</td><!--tester-->
                                <td>Jessy White</td><!--reviewer-->
                            </tr>
                          </tbody>
                        </table>
                      </div>
                          <div class="table-responsive">
                        <table class="table table-bordered" id="dates" width="100%" cellspacing="0">
                          <tbody>
                          <tr>
                              <th>Start Date</th>
                              <td>04-11-2020</td>
                            </tr>
                            <tr>
                              <th>End Date</th>
                              <td>04-12-2020</td>
                            </tr>
                            <tr>
                              <th>Last Modified</th>
                              <td>04-12-2020</td>
                            </tr>
                            <tr>
                              <th>Version</th>
                              <td>1.0</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-7 col-md-6 mb-2">
                      <div class="card ">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-dark">Executive Summary</h6>
                        </div>
                        <div class="card-body">
                          The styling for this basic card example is 
created by using default Bootstrap utility classes. By using utility 
classes, the style of the card component can be easily modified with no 
need for any custom CSS!
                        </div>
                      </div>
                    </div>
                </div>
                <div style="display:block; clear:both; page-break-after:always;"></div>
                <div class="row">
                    <div class="col-xl-7 col-md-6 mb-2">
                      <div class="card">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-dark">Vulnerabilities</h6>
                        </div>
                        <div class="table-responsive">
                        <table class="table table-bordered" id="" width="100%" cellspacing="0">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Severity</th>
                              <th>Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>XSS</td>
                              <td>High</td>
                              <td>Open</td>
                            </tr>
                            <tr>
                              <td>SQL Injection</td>
                              <td>High</td>
                              <td>Open</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-7 col-md-6 mb-2">
                      <div class="card">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-dark">Severity of Vulnerabilities</h6>
                        </div>

                        <div class="table-responsive">
                        <table class="table table-bordered" id="VulnerabilitiesBySeverity" width="100%" cellspacing="0">
                          <thead>
                            <tr>
                              <th>Severity</th>
                              <th>Number of Vulnerabilities</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td style="color:purple">Critical</td>
                              <td style="color:purple">1</td>
                                <td rowspan="5" align="center">
                                    <div class="chart-bar" style="width: 300px"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                    <canvas id="myPieChart" style="display: block; height: 320px; width: 300px;" width="600" height="640" class="chartjs-render-monitor"></canvas>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                              <td style="color:red">High</td>
                              <td style="color:red">2</td>
                            </tr>
                            <tr>
                              <td style="color:orange">Medium</td>
                              <td style="color:orange">3</td>
                            </tr>
                            <tr>
                              <td style="color:blue">Low</td>
                              <td style="color:blue">2</td>
                            </tr>
                             <tr>
                              <td style="color:green">Info</td>
                              <td style="color:green">1</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-7 col-md-6 mb-2">
                      <div class="card">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-dark">Risk Matrix</h6>
                        </div>

                        <div class="table-responsive">
                        <table class="table table-bordered" id="riskMatrix" width="100%" cellspacing="0">
                          <thead>
                            <tr>
                                <th colspan="2" rowspan="1"></th>
                                <th colspan="7" style="text-align:center;">Impact</th>

                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <th colspan="2" rowspan="1"></th>
                                <td>Trivial</td>
                                <td>Minor</td>
                                <td>Moderate</td>
                                <td>Major</td>
                                <td>Extreme</td>
                            </tr>
                            <tr>
                                <th rowspan="7" style="text-align:center; vertical-align:middle;">Likelihood</th>
                            </tr>
                            <tr>

                            </tr>
                            <tr>
                                <td>Very Likely</td>
                                <td style="background-color: orange; color:white">Medium</td>
                                <td style="background-color: orange; color: white">Medium</td>
                                <td style="background-color: red; color:white">High</td>
                                <td style="background-color: red; color: white">High</td>
                                <td style="background-color: red; color:white">High</td>
                            </tr>
                            <tr>
                                <td>Likely</td>
                                <td style="background-color: orange; color:white">Medium</td>
                                <td style="background-color: orange; color: white">Medium</td>
                                <td style="background-color: orange; color:white">Medium</td>
                                <td style="background-color: red; color: white">High</td>
                                <td style="background-color: red; color:white">High</td>
                            </tr>
                            <tr>
                                <td>Possible</td>
                                <td style="background-color: green; color:white">Low</td>
                                <td style="background-color: orange; color: white">Medium</td>
                                <td style="background-color: orange; color:white">Medium</td>
                                <td style="background-color: orange; color: white">Medium</td>
                                <td style="background-color: red; color:white">High</td>
                            </tr>
                            <tr>
                                <td>Unlikely</td>
                                <td style="background-color: green; color:white">Low</td>
                                <td style="background-color: green; color: white">Low</td>
                                <td style="background-color: orange; color:white">Medium</td>
                                <td style="background-color: orange; color: white">Medium</td>
                                <td style="background-color: orange; color:white">Medium</td>
                            </tr>
                            <tr>
                                <td>Very Unlikely</td>
                                <td style="background-color: green; color:white">Low</td>
                                <td style="background-color: green; color: white">Low</td>
                                <td style="background-color: green; color:white">Low</td>
                                <td style="background-color: orange; color: white">Medium</td>
                                <td style="background-color: orange; color:white">Medium</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      </div>

                    </div>
                </div>
                <div class="row"><!-- Bar Chart -->
                  <!-- Bar Chart -->
                  <div class="col-xl-7 col-md-6 mb-2">
                      <div class="card">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-dark">Severity of Vulnerabilities</h6>
                        </div>
                        <div class="card-body">
                          <div class="chart-bar"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                            <canvas id="myBarChart" style="display: block; height: 320px; width: 876px;" width="1752" height="640" class="chartjs-render-monitor"></canvas>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                 <div style="display:block; clear:both; page-break-after:always;"></div>
                 <div class="row">
                    <div class="col-xl-7 col-md-6 mb-2">
                      <div class="card ">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-dark">Scope</h6>
                        </div>
                        <div class="card-body">
                          The styling for this basic card example is 
created by using default Bootstrap utility classes. By using utility 
classes, the style of the card component can be easily modified with no 
need for any custom CSS!
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-7 col-md-6 mb-2">
                      <div class="card">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-dark">Target</h6>
                        </div>
                        <div class="card-body">
                          The styling for this basic card example is 
created by using default Bootstrap utility classes. By using utility 
classes, the style of the card component can be easily modified with no 
need for any custom CSS!
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-7 col-md-6 mb-2">
                      <div class="card">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-dark">Description</h6>
                        </div>
                        <div class="card-body">
                          The styling for this basic card example is 
created by using default Bootstrap utility classes. By using utility 
classes, the style of the card component can be easily modified with no 
need for any custom CSS!
                        </div>
                      </div>
                    </div>
                </div>

            </div>
          </div>

        </div>
        <!-- /.container-fluid -->


      </div>
 <!-- Vulnerabilities-->
 
  <div id="wrapper">
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Vulnerability</h6>
            </div>
            <div class="card-body">
                <!-- Small items -->
                <!-- Basic Card Example -->
                <div class="row">
                    <div class="col-xl-7 col-md-6 mb-2">
                      <div class="card">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-primary">Summary</h6>
                        </div>
                        <ul class="list-group">
                      <li class="list-group-item"><span class="m-0 font-weight text-primary" style="padding-right: 20px">Name</span>xss</li>
                        <li class="list-group-item"><span class="m-0 font-weight text-primary" style="padding-right: 20px">Severity</span>High</li>
                        <li class="list-group-item"><span class="m-0 font-weight text-primary" style="padding-right: 20px">Status</span>Open</li>
                            <li class="list-group-item"><span class="m-0 font-weight text-primary" style="padding-right: 20px">Exploitability</span>Open</li>
                        <li class="list-group-item"><span class="m-0 font-weight text-primary" style="padding-right: 20px">OWASP Top 10 Mapping</span>Injection</li>
                    </ul>
                      </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-xl-7 col-md-6 mb-2">
                      <div class="card ">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-primary">Risk/Impact</h6>
                        </div>
                        <div class="card-body">
                          The styling for this basic card example is 
created by using default Bootstrap utility classes. By using utility 
classes, the style of the card component can be easily modified with no 
need for any custom CSS!
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-7 col-md-6 mb-2">
                      <div class="card">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-primary">Description</h6>
                        </div>
                        <div class="card-body">
                          The styling for this basic card example is 
created by using default Bootstrap utility classes. By using utility 
classes, the style of the card component can be easily modified with no 
need for any custom CSS!
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-7 col-md-6 mb-2">
                      <div class="card ">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-primary">POC</h6>
                        </div>
                        <div class="card-body">
                          The styling for this basic card example is 
created by using default Bootstrap utility classes. By using utility 
classes, the style of the card component can be easily modified with no 
need for any custom CSS!
                        </div>
                      </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-xl-7 col-md-6 mb-2">
                      <div class="card ">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-primary">Remidiation</h6>
                        </div>
                        <div class="card-body">
                          The styling for this basic card example is 
created by using default Bootstrap utility classes. By using utility 
classes, the style of the card component can be easily modified with no 
need for any custom CSS!
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-7 col-md-6 mb-2">
                      <div class="card ">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-primary">Comments</h6>
                        </div>
                        <div class="card-body">
                          The styling for this basic card example is 
created by using default Bootstrap utility classes. By using utility 
classes, the style of the card component can be easily modified with no 
need for any custom CSS!
                        </div>
                      </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-xl-7 col-md-6 mb-2">
                      <div class="card ">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-primary">References</h6>
                        </div>
                        <div class="card-body">
                          The styling for this basic card example is 
created by using default Bootstrap utility classes. By using utility 
classes, the style of the card component can be easily modified with no 
need for any custom CSS!
                        </div>
                      </div>
                    </div>
                </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->


      </div>
 <div style="display:block; clear:both; page-break-after:always;"></div>
 
  <div id="wrapper">
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Vulnerability</h6>
            </div>
            <div class="card-body">
                <!-- Small items -->
                <!-- Basic Card Example -->
                <div class="row">
                    <div class="col-xl-7 col-md-6 mb-2">
                      <div class="card">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-primary">Summary</h6>
                        </div>
                        <ul class="list-group">
                      <li class="list-group-item"><span class="m-0 font-weight text-primary" style="padding-right: 20px">Name</span>sql injection</li>
                        <li class="list-group-item"><span class="m-0 font-weight text-primary" style="padding-right: 20px">Severity</span>High</li>
                        <li class="list-group-item"><span class="m-0 font-weight text-primary" style="padding-right: 20px">Status</span>Open</li>
                            <li class="list-group-item"><span class="m-0 font-weight text-primary" style="padding-right: 20px">Exploitability</span>Open</li>
                        <li class="list-group-item"><span class="m-0 font-weight text-primary" style="padding-right: 20px">OWASP Top 10 Mapping</span>Injection</li>
                    </ul>
                      </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-xl-7 col-md-6 mb-2">
                      <div class="card ">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-primary">Risk/Impact</h6>
                        </div>
                        <div class="card-body">
                          The styling for this basic card example is 
created by using default Bootstrap utility classes. By using utility 
classes, the style of the card component can be easily modified with no 
need for any custom CSS!
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-7 col-md-6 mb-2">
                      <div class="card">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-primary">Description</h6>
                        </div>
                        <div class="card-body">
                          The styling for this basic card example is 
created by using default Bootstrap utility classes. By using utility 
classes, the style of the card component can be easily modified with no 
need for any custom CSS!
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-7 col-md-6 mb-2">
                      <div class="card ">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-primary">POC</h6>
                        </div>
                        <div class="card-body">
                          The styling for this basic card example is 
created by using default Bootstrap utility classes. By using utility 
classes, the style of the card component can be easily modified with no 
need for any custom CSS!
                        </div>
                      </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-xl-7 col-md-6 mb-2">
                      <div class="card ">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-primary">Remidiation</h6>
                        </div>
                        <div class="card-body">
                          The styling for this basic card example is 
created by using default Bootstrap utility classes. By using utility 
classes, the style of the card component can be easily modified with no 
need for any custom CSS!
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-7 col-md-6 mb-2">
                      <div class="card ">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-primary">Comments</h6>
                        </div>
                        <div class="card-body">
                          The styling for this basic card example is 
created by using default Bootstrap utility classes. By using utility 
classes, the style of the card component can be easily modified with no 
need for any custom CSS!
                        </div>
                      </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-xl-7 col-md-6 mb-2">
                      <div class="card ">
                        <div class="card-header">
                          <h6 class="m-0 font-weight-bold text-primary">References</h6>
                        </div>
                        <div class="card-body">
                          The styling for this basic card example is 
created by using default Bootstrap utility classes. By using utility 
classes, the style of the card component can be easily modified with no 
need for any custom CSS!
                        </div>
                      </div>
                    </div>
                </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->


      </div>
 <div style="display:block; clear:both; page-break-after:always;"></div>
 
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Your Website 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    
    <!-- End of Content Wrapper -->

  
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top" style="display: none;">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="http://localhost:4995/login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="Projects_files/jquery_002.js"></script>
  <script src="Projects_files/bootstrap.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="Projects_files/jquery_003.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="Projects_files/sb-admin-2.js"></script>

  <!-- Page level plugins -->
  <script src="Projects_files/jquery.js"></script>
  <script src="Projects_files/dataTables.js"></script>

  <!-- Page level custom scripts -->
  <script src="Projects_files/datatables-demo.js"></script>
  <script src="Projects_files/Chart.js"></script>

  <!-- Page level custom scripts -->
  <script src="Projects_files/datatables-demo.js"></script>
  <script src="Projects_files/chart-bar-demo.js"></script>
  <script src="Projects_files/chart-pie-demo.js"></script>



</body></html>