{% extends "home.html" %}
{% block content %}


<body id="page-top">

 <!-- Page Wrapper -->
  <div id="wrapper">
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Projects</h6>
            </div>
            <div class="card-body">
                <a href="project"><button type="button" class="btn btn-primary">Create a new project</button></a>
                <hr>
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Project Name</th>
                      <th>Target</th>
                      <th>Client</th>
                      <th>Vulnerabilities #</th>
                      <th>End Date</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Project Name</th>
                      <th>Target</th>
                      <th>Client</th>
                      <th>Vulnerabilities #</th>
                      <th>End Date</th>
                    </tr>
                  </tfoot>
                  <tbody>
                  {% for project, nos_vulns in projects %}
                    <tr>
                        <td>{{project.projectName}}</td>
                        <td>{{project.target}}</td>
                        <td>{{project.client}}</td>
                        <td>{{nos_vulns}}</td>
                        <td>{{project.endDate}}</td>
                        <td align="center" style="max-width: 160px;">
                        <form id="view-project-form" action="/report" method="GET" style="float: left; padding-right:3px"  title="View">
                            <input name="project_id" hidden="true" value={{project._id}} >
                                <button class="btn btn-info" type="submit"><i class="fas fa-eye" title="View"></i></button>
                        </form>
                        <div style="float: left; padding-right:3px"  title="Edit">
                            <a href="/project?proj={{project._id}}" class="btn btn-secondary" type="submit"><i class="fas fa-edit"></i></a>
                        </div>
                        <form id="delete-project-form" action="/deleteProject" method="post" style="float: left; padding-right:3px" title="Delete">
                            <input name="project_id" hidden="true" value={{project._id}} >
                                <button class="btn btn-danger" type="submit"><i class="fas fa-eraser" ></i></button>

                        </form>
                        <div style="float: left; padding-right:3px"  title="Download Report">
                            <a href="/DownloadPDF?proj={{project._id}}" class="btn btn-success" type="submit"><i class="fas fa-file-pdf"></i></a>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}

                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->


      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


</body>
{% endblock %}
