{% extends "home.html" %}
{% block content %}


<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

 <!-- Begin Page Content -->
        <div class="container-fluid">

          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Project</h6>
            </div>


          <!-- Content Row -->
          <div class="row">

            <div class="col-lg-3"></div>
            <!-- Border Left Utilities -->
            <div class="col-lg-6">
            <form id="project-form" action="/addProject" method="post">
              <br>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="input-projectName">Project Name</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="projectName">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="input-client">Client</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="client">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="input-client-contact">Client Contact</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="contact">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroupFileAddon01">Client Logo</span>
                </div>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile01"
                    aria-describedby="inputGroupFileAddon01">
                  <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="input-author">Author</span>
                </div>
                <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="author">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="input-testers">Testers</span>
                </div>
                <textarea class="form-control" aria-label="With textarea" aria-describedby="inputGroup-sizing-default" rows="2" name="testers"></textarea>
                <div class="input-group-prepend">
                  <span class="input-group-text" id="input-reviewers">Reviewers</span>
                </div>
                <textarea class="form-control" aria-label="With textarea" aria-describedby="inputGroup-sizing-default" rows="2" name="reviewers"></textarea>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="input-startDate">Start Date</span>
                </div>
                <input type="date" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="startDate">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="input-endDate">End Date</span>
                </div>
                <input type="date" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="endDate">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="input-Target">Target</span>
                </div>
                <textarea class="form-control" aria-label="With textarea" aria-describedby="inputGroup-sizing-default" rows="2" name="target"></textarea>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="input-Scope">Scope</span>
                </div>
                <textarea class="form-control" aria-label="With textarea" aria-describedby="inputGroup-sizing-default" rows="4" name="scope"></textarea>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="input-Description">Description</span>
                </div>
                <textarea class="form-control" aria-label="With textarea" aria-describedby="inputGroup-sizing-default" rows="7" name="description"></textarea>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="input-Summary">Executive Summary</span>
                </div>
                <textarea class="form-control" aria-label="With textarea" aria-describedby="inputGroup-sizing-default" rows="7" name="executiveSummary"></textarea>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="input-Comments">Conclusion</span>
                </div>
                <textarea class="form-control" aria-label="With textarea" aria-describedby="inputGroup-sizing-default" rows="7" name="conclusion"></textarea>
              </div>
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Vulnerability</th>
                      <th>Severity</th>
                    </tr>
                  </thead>
                    <tr>
                      <td>XSS</td>
                      <td>High</td>
                      <td align="center" style="max-width: 80px;">
                        <a href="/vulnerability" title="Edit" class="btn btn-info btn-icon-split">
                          <span class="icon text-white-50">
                            <i class="fas fa-eye"></i>
                          </span>
                        </a>
                        <a href="/vulnerability" title="Edit" class="btn btn-secondary btn-icon-split">
                          <span class="icon text-white-50">
                            <i class="fas fa-edit"></i>
                          </span>
                        </a>
                        <a href="#" title="Delete" class="btn btn-danger btn-icon-split">
                          <span class="icon text-white-50">
                            <i class="fas fa-eraser"></i>
                          </span>
                        </a>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
              <a href="/vulnerability" class="btn btn-secondary btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-plus"></i>
                    </span>
                    <span class="text">Add Vulnerability</span>
                  </a>
              <br>
              <br>
              <button class="btn btn-primary" type="submit">Save</button>
              <button type="button" class="btn btn-secondary">Reset</button>
              <br>
              <br>
              <a href="#" class="btn btn-info btn-block"><i class="fab fa-fw"></i> Generate PDF Report</a>
              <a href="#" class="btn btn-info btn-block"><i class="fab fa-fw"></i> Generate CSV Report</a>
              <br>
            </form>
            </div>
            <div class="col-lg-3"></div>
          </div>


          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->


</body>

{% endblock %}